In [26]:
import pandas as pd
import random

# 1. read the file into a DataFrame
df = pd.read_csv('continents.csv', sep=";")
print(df)

         continent    country
0           Africa    Algeria
1           Africa     Angola
2           Africa      Benin
3           Africa   Botswana
4           Africa    Burkina
..             ...        ...
189  South America   Paraguay
190  South America       Peru
191  South America   Suriname
192  South America    Uruguay
193  South America  Venezuela

[194 rows x 2 columns]

In [18]:
# 2. display the number of rows and columns
print(df.shape)

(194, 2)

In [51]:

# 3. display the first 5 countries in the alphabet
#print(df.sort_values('country').head())
df.country.sort_values().head()

54    Afghanistan
98        Albania
0         Algeria
99        Andorra
1          Angola
Name: country, dtype: object

In [58]:
# 4. which continent has the most countries?
#df.groupby.continent
df.groupby(['continent']).count().head(1)

           country
continent
Africa          54

In [19]:
# 5. find out on which continent Cyprus is
df[df['country'] == 'Cyprus']

    continent country
108    Europe  Cyprus

In [22]:

# 6. define a DataFrame with all African countries
africa = df[df.continent == 'Africa']
africa.head()

  continent   country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

In [24]:

# 7. define a DataFrame with countries 80 through 100
subset = df.iloc[80:101]
subset

    continent               country
80       Asia                 Nepal
81       Asia                  Oman
82       Asia              Pakistan
83       Asia           Philippines
84       Asia                 Qatar
85       Asia    Russian Federation
86       Asia          Saudi Arabia
87       Asia             Singapore
88       Asia             Sri Lanka
89       Asia                 Syria
90       Asia            Tajikistan
91       Asia              Thailand
92       Asia                Turkey
93       Asia          Turkmenistan
94       Asia  United Arab Emirates
95       Asia            Uzbekistan
96       Asia               Vietnam
97       Asia                 Yemen
98     Europe               Albania
99     Europe               Andorra
100    Europe               Armenia

In [25]:


# 8. select every second country
df[df.index % 2 == 0]

         continent                   country
0           Africa                   Algeria
2           Africa                     Benin
4           Africa                   Burkina
6           Africa                  Cameroon
8           Africa  Central African Republic
..             ...                       ...
184  South America                    Brazil
186  South America                  Colombia
188  South America                    Guyana
190  South America                      Peru
192  South America                   Uruguay

[97 rows x 2 columns]

In [31]:
# 9. select 10 random countries
df.sample(10)

         continent               country
131         Europe                Norway
76            Asia               Lebanon
41          Africa            Seychelles
103         Europe               Belarus
29          Africa                Malawi
94            Asia  United Arab Emirates
92            Asia                Turkey
108         Europe                Cyprus
136         Europe                Serbia
152  North America              Dominica

In [44]:


# 10. select all countries having two or more a`s
df[df.country.str.count('a') >= 2]
boolean = df.country.str.contains('a')
#df[df['model'].str.contains('ac')]

In [45]:
type(boolean)

pandas.core.series.Series

In [59]:
#df[df[df.country.str.contains('a')].str.contains('a')]