# Data Round-Trip

In [3]:
import pandas as pd

## CSV

Read the CSV file `large_countries_2015.csv`

In [40]:
countries = pd.read_csv('large_countries_2015.csv', index_col=0)

## Excel

* Write the data into an Excel file
* Read the data again

In [41]:
countries_excel = pd.DataFrame.to_excel(countries,'countries.xlsx')
countries = pd.read_excel('countries.xlsx', index_col=0)

## JSON - Java Script Object Notation

* Write the data into a JSON file
* Read the data again

In [46]:
countries_json = pd.DataFrame.to_json(countries, 'countries.json')
countries = pd.read_json('countries.json')

## SQL

Install the library SQLAlchemy:

In [47]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/lelischiestl/anaconda3/lib/python3.8/site-packages (1.3.18)

Create a connection to a new SQLite database:

In [58]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///mydatabase.db')

Write the data into the database:

In [60]:
countries.to_sql('countries', db)

Check that a database file has been created in your current working directory:

In [61]:
!ls

2_3_python_data_type_recap.ipynb data_round_trip.ipynb
Untitled.ipynb                   exercise_pandas_basics.ipynb
Untitled1.ipynb                  large_countries_2015.csv
countries.json                   mydatabase.db
countries.xlsx                   pandas_cheat_sheet.pdf

Inspect the file that was created in a text editor. Do not spend more than 1-2 minutes on this.

*Dont worry if this is completely new to you. We will cover SQL later in the course*

In [66]:
countries = pd.read_sql('countries', db)

In [67]:
countries

            index  population  fertility      continent
0      Bangladesh   160995642       2.12           Asia
1          Brazil   207847528       1.78  South America
2           China  1376048943       1.57           Asia
3           India  1311050527       2.43           Asia
4       Indonesia   257563815       2.28           Asia
5           Japan   126573481       1.45           Asia
6          Mexico   127017224       2.13  North America
7         Nigeria   182201962       5.89         Africa
8        Pakistan   188924874       3.04           Asia
9     Philippines   100699395       2.98           Asia
10         Russia   143456918       1.61         Europe
11  United States   321773631       1.97  North America